# Experiments on ICIJ Paradise Papers (Neo4j sandbox)

## Setting up

In [ ]:
!%pip install graphdatascience pandas

In [33]:
import pandas as pd
from graphdatascience import GraphDataScience

In [34]:
# Neo4j Sandbox Connection details
DB_ULR = 'bolt://3.237.238.94:7687'
DB_USER = 'neo4j'
DB_PASS = 'knives-swords-cloths'
gds = GraphDataScience(DB_ULR, auth=(DB_USER, DB_PASS))

## A subset of the "Power players in the data"
https://offshoreleaks.icij.org/power-players

In [35]:
peps = [
    'JEAN CHRÃ‰TIEN',
    'MUKHTAR ABLYAZOV',
    'BEIBUT ATAMKULOV',
    'HENRIQUE DE CAMPOS MEIRELLES',
    'WESLEY K. CLARK',
    'SHAUKAT AZIZ',
    'ALEJANDRO GERTZ MANERO',
    'ANTANAS GUOGA',
    'HAKAINDE SAMMY HICHILEMA',
    'RAVINDRA KISHORE (RK) SINHA',
    'VALERIY VOSHCHEVSKY',
    'SALLY KOSGEI',
    'REX TILLERSON',
    'PAUL MARTIN',
    'ELLEN JOHNSON SIRLEAF',
    'BRIAN MULRONEY',
    'MUDHAR GHASSAN SHAWKAT',
    'SAUAT MUKHAMETBAYEVICH MYNBAYEV',
    'JAMES MEYER SASSOON',
    'PRABOWO SUBIANTO',
    'SAM KAHAMBA KUTESA',
    'WILBUR LOUIS ROSS, JR.',
    'PRINCE KHALED BIN SULTAN BIN ABDULAZIZ',   
    'CARLOS QUINTANILLA SCHMIDT',
    'ALFRED GUSENBAUER',
    'YUKIO HATOYAMA',
    'ANTON PRIGODSKY',
    'PENNY PRITZKER',
    'JOHN MAHAMA',
    'BINALI YILDIRIM',
    'SUHARTO',
    'BASHAR AL-ASSAD',
    'BLAIRO BORGES MAGGI',
    'JAYANT SINHA',
    'JUAN MANUEL SANTOS'
]

In [36]:
# Create fulltext index
gds.run_cypher('''
    call db.index.fulltext.createNodeIndex('ftx_offshore',
        ['Officer'],
        ['name']
    )
''')

ClientError: {code: Neo.ClientError.Procedure.ProcedureCallFailed} {message: Failed to invoke procedure `db.index.fulltext.createNodeIndex`: Caused by: org.neo4j.kernel.api.exceptions.schema.EquivalentSchemaRuleAlreadyExistsException: An equivalent index already exists, 'Index( id=3, name='ftx_offshore', type='GENERAL FULLTEXT', schema=(:Officer {name}), indexProvider='fulltext-1.0' )'.}

In [37]:
# Check index fully polulated
gds.run_cypher('''call db.indexDetails('ftx_offshore') yield state, populationPercent''').head()

    state  populationPercent
0  ONLINE              100.0

In [52]:
# Flag politically exposed persons (PEP)
test = gds.run_cypher(''' 
    unwind $peps as pep
    call db.index.fulltext.queryNodes('ftx_offshore', 'name: ' + pep + '',{limit:1}) yield node,score
    with node, score, pep
    set node:PEP
    return pep, node.name as name, node.type as type, labels(node) as labels, score, id(node) as id    
''', params = { 'peps': peps})
test.head(40)

,pep,name,type,labels,score,id
0,JEAN CHRÃ‰TIEN,Joseph Jacques Jean ChrÃ©tien,None,"[Officer, PEP, Person]",6.888455,87589
1,MUKHTAR ABLYAZOV,Ablyazov - Mukhtar,None,"[Officer, PEP, Person]",11.695206,88025
2,BEIBUT ATAMKULOV,BEIBUT ATAMKULOV,None,"[Officer, PEP, Person]",11.419800,87507
3,HENRIQUE DE CAMPOS MEIRELLES,Meirelles - Henrique de Campos,None,"[Officer, PEP, Person]",13.590715,158044
4,WESLEY K. CLARK,Wesley Clark,None,"[Officer, PEP, Person]",8.055619,87592
5,SHAUKAT AZIZ,Shaukat Aziz,None,"[Officer, PEP, Person]",10.095312,87594
6,ALEJANDRO GERTZ MANERO,Gertz - Alejandro M,None,"[Officer, PEP, Person]",8.707655,102886
7,ANTANAS GUOGA,ANTANAS GUOGA,None,"[Officer, PEP, Person]",11.144423,87519
8,HAKAINDE SAMMY HICHILEMA,Hichilema - Hakainde Sammy,None,"[Officer, PEP, Person]",14.305145,105417
9,RAVINDRA KISHORE (RK) SINHA,RAVINDRA KISHORE SINHA,None,"[Officer, PEP, Person]",13.723818,87537
10,VALERIY VOSHCHEVSKY,VALERIY VOSHCHEVSKYY,None,"[Officer, PEP, Person]",5.147140,87510
11,SALLY KOSGEI,Kosgei - Sally,None,"[Officer, PEP, Person]",9.974422,109390
12,REX TILLERSON,Tillerson - Rex,None,"[Officer, PEP, Person]",10.472126,124865
13,PAUL MARTIN,Paul Martin,None,"[Officer, PEP, Person]",5.374466,87593
14,ELLEN JOHNSON SIRLEAF,Johnson-Sirleaf - Ellen,None,"[Officer, PEP, Person]",11.492644,107710
15,BRIAN MULRONEY,Mulroney - Brian Martin,None,"[Officer, PEP, Person]",7.453141,116205
16,MUDHAR GHASSAN SHAWKAT,Shawkat - Mudhar Ghassan,None,"[Officer, PEP, Person]",14.093596,152780
17,SAUAT MUKHAMETBAYEVICH MYNBAYEV,Mynbayev - Sauat Mukhametbaevich,None,"[Officer, PEP, Person]",10.173621,148424
18,JAMES MEYER SASSOON,Sassoon - James Meyer,None,"[Officer, PEP, Person]",10.222797,163032
19,PRABOWO SUBIANTO,Subianto - Prabowo,None,"[Officer, PEP, Person]",11.695287,123521
20,SAM KAHAMBA KUTESA,Kutesa - Sam Kahamba,None,"[Officer, PEP, Person]",13.435255,109788
21,"WILBUR LOUIS ROSS, JR.","Ross, Jr. - Wilbur Louis",None,"[Officer, PEP, Person]",11.878948,120063
22,PRINCE KHALED BIN SULTAN BIN ABDULAZIZ,Abdulaziz - Khaled Bin Sultan Bin,None,"[Officer, PEP, Person]",16.609938,157693
23,CARLOS QUINTANILLA SCHMIDT,Quintanilla Schmidt - Carlos,None,"[Officer, PEP, Person]",11.776794,87152
24,ALFRED GUSENBAUER,ALFRED GUSENBAUER,None,"[Officer, PEP, Person]",9.582706,87495
25,YUKIO HATOYAMA,Yukio Hatoyama,None,"[Officer, PEP, Person]",11.238563,87586
26,ANTON PRIGODSKY,ANTON PRYGODSKYY,None,"[Officer, PEP, Person]",4.341790,87516
27,PENNY PRITZKER,Pritzker - Penny,None,"[Officer, PEP, Person]",10.204343,150943
28,JOHN MAHAMA,Ibrahim Mahama,None,"[Officer, PEP, Person]",5.847677,87584
29,BINALI YILDIRIM,ERKAM YILDIRIM,None,"[Officer, PEP, Person]",5.390877,87513
30,BASHAR AL-ASSAD,Assad - Tarek,None,"[Officer, PEP, Person]",5.847673,89251
31,BLAIRO BORGES MAGGI,Blairo Borges Maggi,None,"[Officer, PEP, Person]",14.026569,87588
32,JAYANT SINHA,Jayant Sinha,None,"[Officer, PEP, Person]",10.552275,87590
33,JUAN MANUEL SANTOS,SANTOS JUAN MANUEL,None,"[Officer, PEP, Person]",10.187208,87544

## Who is who

In [40]:
persons = gds.run_cypher(''' 
    MATCH path=(p:Officer)-[:OFFICER_OF|REGISTERED_ADDRESS]->(o)
    where (o:Address or o:Entity) 
    and not p.name contains "Ltd."
    and not p.name contains "Limited"
    and not p.name contains "Trust"
    and not p.name contains "Investments"
    return distinct p.name limit 50
''')
persons.head(50)

                                         p.name
0   Lee Mo Lin - Noel Patrick L.C.K - Mauritius
1                              Pleshko - Daniel
2                                Plested - John
3                        Plewright - Peter John
4                        Plexman - Eric Anthony
5                  Plianthos - Nicolas Lawrence
6                               Plimpton - Tara
7                           Pliska - Bernard F.
8                            Plotkin - Roger B.
9                               Plott - Jeffrey
10                           Plotz - Michael A.
11                            Plouin - Graciela
12                             PLOUGHMAN - Dale
13                               Plowman - John
14                           Plumeri - Joseph J
15                          Plummer - William B
16                        Plunkett - Michael P.
17                               Pluss - Steven
18                            Pluthero - Ian R.
19                            Plutschow - Franz
20                              Plutzer - David
21                            Pocius - Victor F
22                            Pocklington - Amy
23                              Pocock - Iain V
24             Podolskiy - Vitaliy Grigorievich
25                             Podolsky - Steve
26                           Podowski - Darrell
27                           Poduje - Miguel A.
28                        Podziba - Kenneth Jay
29                                    Poe - Wan
30                         Poehling - Robert L.
31                            Poelker - John S.
32                           Poellinger - Mikel
33                            Pogue - Charles M
34                          Pogue - Jerry Glenn
35                            Pohanka - John J.
36                             Poh - Chiang See
37                                   POH - Kiat
38                           Pohlmann - Peter G
39                              POH - Yang Hong
40                    Poindexter - Christian H.
41                        Poingdestre - Richard
42                           Poirier - David V.
43                             Poirrier - Bobby
44                             PO - Kam Hi John
45                        Polan - Joshua Arthur
46                           Polebaum - Mark N.
47                   Polglase - Anthony Terence
48                               Polizzi - Fred
49                    Polizzi-Sallustro - Robyn

In [42]:
companies = gds.run_cypher(''' 
    MATCH path=(p:Officer)-[:OFFICER_OF|REGISTERED_ADDRESS]->(o)
    where (o:Address or o:Entity) 
    and ( p.name contains "Ltd." OR
          p.name contains "Limited" OR
          p.name contains "Trust" OR
          p.name contains "Investments"
        )
    return distinct p.name limit 50999
''')
companies.head(50)

                                               p.name
0   1022385 Alberta Ltd. as Trustee of the Drinkwa...
1   1022387 Alberta Ltd. as Trustee of the Whitewo...
2                                1035533 Ontario Ltd.
3                                1105328 Alberta Ltd.
4   1245180 Alberta Ltd., as trustee of the Sapunj...
5                                2035910 Ontario Ltd.
6                                 385069 Alberta Ltd.
7                          3VS1 Asia Growth Fund Ltd.
8                                 4 M Associates Ltd.
9                                 561309 Alberta Ltd.
10                                838233 Alberta Ltd.
11                   A. F. Smith Trading Company Ltd.
12                                 A.S. Nominees Ltd.
13                        AAA (Angola) Investors Ltd.
14                               ABD Investments Ltd.
15                    ACC Conquistador Holdings, Ltd.
16                         ACE Bermuda Insurance Ltd.
17               ACE INA International Holdings, Ltd.
18                            ACM Holdings GP II Ltd.
19                               ACM Holdings GP Ltd.
20  ACM Holdings II L.P. by its general partner, A...
21  ACM Holdings L.P. by its general Partner, ACM ...
22                   ADAR Investments (Offshore) Ltd.
23                                    ADV Leases Ltd.
24                   AEI America do Sul Holdings Ltd.
25          AEI America do Sul Services Holdings Ltd.
26  AEI Americas Bermuda Ltd. (formerly AEI Chilqu...
27                           AEI Andean Holdings Ltd.
28                                      AEI Asia Ltd.
29                        AEI Brazil PD Holdings Ltd.
30                     AEI Brazil Power Holdings Ltd.
31                           AEI Central America Ltd.
32                         AEI Chile Investments Ltd.
33                         AEI Chilean Equity II Ltd.
34                            AEI Chilean Equity Ltd.
35               AEI Dominican Republic Holdings Ltd.
36             AEI Dominican Republic Operations Ltd.
37                      AEI EL Salvador Holdings Ltd.
38                            AEI Global Funding Ltd.
39  AEI Global Funding Ltd.(formerly PSEG Global F...
40                     AEI Guatemala Investments Ltd.
41                        AEI Jaguar Investments Ltd.
42                        AEI Nicaragua Holdings Ltd.
43                AEI Peruvian Power Investments Ltd.
44                                     AEI Power Ltd.
45           AEI Power Nicaragua Holding Company Ltd.
46                           AEI Power Nicaragua Ltd.
47                    AEI Southern Cone Holdings Ltd.
48                        AES CC&T International Ltd.
49                                           AGR Ltd.

In [47]:
# Label Officers as Companies
gds.run_cypher(''' 
    MATCH path=(p:Officer)-[:OFFICER_OF|REGISTERED_ADDRESS]->(o)
    where (o:Address or o:Entity) 
    and ( p.name contains "Ltd." OR
          p.name contains "Limited" OR
          p.name contains "Trust" OR
          p.name contains "Investments"
        )
    with distinct p
    set p:Company
''')

Empty DataFrame
Columns: []
Index: []

In [49]:
# Label Officers that ar not labeled Company with Person
gds.run_cypher(''' 
    MATCH (p:Officer)
    where not p:Company 
    set p:Person
''')

Empty DataFrame
Columns: []
Index: []

In [53]:
# Check what we have
gds.run_cypher(''' 
    MATCH (p:Officer)
    return labels(p), count(*)
''').head(10)

                labels(p)  count(*)
0       [Officer, Person]     67000
1      [Officer, Company]      9978
2  [Officer, PEP, Person]        34

## Playground

In [56]:
# Check what outgoing rels we have for Persons
# Why? Node similarity expects a directed graph
gds.run_cypher(''' 
    MATCH p=(:Person)-[r]->()
    return type(r), count(*)
''').head(10)

# Note: Explore the "CONNECTED_TO" relationships!

              type(r)  count(*)
0  REGISTERED_ADDRESS     77155
1          OFFICER_OF    193474
2        CONNECTED_TO       709
3          SAME_ID_AS         2
4        SAME_NAME_AS        89

In [59]:
G, project_stats = gds.graph.project(
    'test', 
    node_spec=['Person','Company','Entity','Intermediary'], 
    relationship_spec=['REGISTERED_ADDRESS','OFFICER_OF']
)

Loading:   0%|          | 0/100 [00:00<?, ?%/s]

In [60]:
project_stats

nodeProjection            {'Entity': {'label': 'Entity', 'properties': {...
relationshipProjection    {'OFFICER_OF': {'orientation': 'NATURAL', 'agg...
graphName                                                              test
nodeCount                                                            104000
relationshipCount                                                    217388
projectMillis                                                          1075
Name: 0, dtype: object

In [64]:
estimate = gds.nodeSimilarity.stats.estimate(G)

In [69]:
sysinfo = gds.debug.sysInfo()

In [83]:
assert sysinfo[ sysinfo["key"] == "heapTotalInBytes" ]["value"].values[0] > estimate.bytesMin

In [85]:
gds.run_cypher('call dbms.setConfigValue("dbms.transaction.timeout","10m")')

Empty DataFrame
Columns: []
Index: []

In [86]:
ns_stats = gds.nodeSimilarity.stats(G)

NodeSimilarity:   0%|          | 0/100 [00:00<?, ?%/s]

In [58]:
# Clean up
G = gds.graph.get('test') # Get our graph projection in case we accidently lost G
G.drop() # Drop it from the graph catalogue to release memory allocation

graphName                                                         test
database                                                         neo4j
memoryUsage
sizeInBytes                                                         -1
nodeCount                                                       104000
relationshipCount                                               228130
configuration        {'relationshipProjection': {'__ALL__': {'orien...
density                                                       0.000021
creationTime                       2022-10-31T09:48:28.016403000+00:00
modificationTime                   2022-10-31T09:48:29.064127000+00:00
schema               {'graphProperties': {}, 'relationships': {'__A...
Name: 0, dtype: object

## Excerciese

Merge nodes if they have the sae ID
```
MATCH p=()-[r:SAME_ID_AS]->() RETURN p LIMIT 25
```
Use apoc to merge nodes and keep relationships