# Experiments on ICIJ Paradise Papers (Neo4j sandbox)

## Setting up

In [1]:
%%capture
%pip install graphdatascience pandas ipython

In [1]:
import pandas as pd
from neo4j import GraphDatabase
from graphdatascience import GraphDataScience

In [2]:
# Neo4j Sandbox Connection details
DB_ULR = 'bolt://18.205.6.212:7687'
DB_USER = 'neo4j'
DB_PASS = 'passage-originator-merchant'
gds = GraphDataScience.from_neo4j_driver(DB_ULR, auth=(DB_USER, DB_PASS))

In [14]:
# Increase the transaction time out, since we will do some long running transactions
gds.run_cypher('call dbms.setConfigValue("dbms.transaction.timeout","20m")')

Empty DataFrame
Columns: []
Index: []

## A subset of the "Power players in the data"
https://offshoreleaks.icij.org/power-players

In [3]:
peps = [
    'JEAN CHRÉTIEN',
    'MUKHTAR ABLYAZOV',
    'BEIBUT ATAMKULOV',
    'HENRIQUE DE CAMPOS MEIRELLES',
    'WESLEY K. CLARK',
    'SHAUKAT AZIZ',
    'ALEJANDRO GERTZ MANERO',
    'ANTANAS GUOGA',
    'HAKAINDE SAMMY HICHILEMA',
    'RAVINDRA KISHORE (RK) SINHA',
    'VALERIY VOSHCHEVSKY',
    'SALLY KOSGEI',
    'REX TILLERSON',
    'PAUL MARTIN',
    'ELLEN JOHNSON SIRLEAF',
    'BRIAN MULRONEY',
    'MUDHAR GHASSAN SHAWKAT',
    'SAUAT MUKHAMETBAYEVICH MYNBAYEV',
    'JAMES MEYER SASSOON',
    'PRABOWO SUBIANTO',
    'SAM KAHAMBA KUTESA',
    'WILBUR LOUIS ROSS, JR.',
    'PRINCE KHALED BIN SULTAN BIN ABDULAZIZ',   
    'CARLOS QUINTANILLA SCHMIDT',
    'ALFRED GUSENBAUER',
    'YUKIO HATOYAMA',
    'ANTON PRIGODSKY',
    'PENNY PRITZKER',
    'JOHN MAHAMA',
    'BINALI YILDIRIM',
    'SUHARTO',
    'BASHAR AL-ASSAD',
    'BLAIRO BORGES MAGGI',
    'JAYANT SINHA',
    'JUAN MANUEL SANTOS'
]

In [4]:
# Create fulltext index
gds.run_cypher('''
    call db.index.fulltext.createNodeIndex('ftx_offshore',
        ['Officer'],
        ['name']
    )
''')

Empty DataFrame
Columns: []
Index: []

In [5]:
# Check index fully polulated
gds.run_cypher('''call db.indexDetails('ftx_offshore') yield state, populationPercent''').head()

    state  populationPercent
0  ONLINE              100.0

In [6]:
# Flag politically exposed persons (PEP)
test = gds.run_cypher(''' 
    unwind $peps as pep
    call db.index.fulltext.queryNodes('ftx_offshore', 'name: ' + pep + '',{limit:1}) yield node,score
    with node, score, pep
    set node:PEP
    return pep, node.name as name, node.type as type, labels(node) as labels, score, id(node) as id    
''', params = { 'peps': peps})
test.head(40)

,pep,name,type,labels,score,id
0,JEAN CHRÉTIEN,Joseph Jacques Jean Chrétien,None,"[Officer, PEP]",6.888455,87589
1,MUKHTAR ABLYAZOV,Ablyazov - Mukhtar,None,"[Officer, PEP]",11.695206,88025
2,BEIBUT ATAMKULOV,BEIBUT ATAMKULOV,None,"[Officer, PEP]",11.419800,87507
3,HENRIQUE DE CAMPOS MEIRELLES,Meirelles - Henrique de Campos,None,"[Officer, PEP]",13.590715,158044
4,WESLEY K. CLARK,Wesley Clark,None,"[Officer, PEP]",8.055619,87592
5,SHAUKAT AZIZ,Shaukat Aziz,None,"[Officer, PEP]",10.095312,87594
6,ALEJANDRO GERTZ MANERO,Gertz - Alejandro M,None,"[Officer, PEP]",8.707655,102886
7,ANTANAS GUOGA,ANTANAS GUOGA,None,"[Officer, PEP]",11.144423,87519
8,HAKAINDE SAMMY HICHILEMA,Hichilema - Hakainde Sammy,None,"[Officer, PEP]",14.305145,105417
9,RAVINDRA KISHORE (RK) SINHA,RAVINDRA KISHORE SINHA,None,"[Officer, PEP]",13.723818,87537
10,VALERIY VOSHCHEVSKY,VALERIY VOSHCHEVSKYY,None,"[Officer, PEP]",5.147140,87510
11,SALLY KOSGEI,Kosgei - Sally,None,"[Officer, PEP]",9.974422,109390
12,REX TILLERSON,Tillerson - Rex,None,"[Officer, PEP]",10.472126,124865
13,PAUL MARTIN,Paul Martin,None,"[Officer, PEP]",5.374466,87593
14,ELLEN JOHNSON SIRLEAF,Johnson-Sirleaf - Ellen,None,"[Officer, PEP]",11.492644,107710
15,BRIAN MULRONEY,Mulroney - Brian Martin,None,"[Officer, PEP]",7.453141,116205
16,MUDHAR GHASSAN SHAWKAT,Shawkat - Mudhar Ghassan,None,"[Officer, PEP]",14.093596,152780
17,SAUAT MUKHAMETBAYEVICH MYNBAYEV,Mynbayev - Sauat Mukhametbaevich,None,"[Officer, PEP]",10.173621,148424
18,JAMES MEYER SASSOON,Sassoon - James Meyer,None,"[Officer, PEP]",10.222797,163032
19,PRABOWO SUBIANTO,Subianto - Prabowo,None,"[Officer, PEP]",11.695287,123521
20,SAM KAHAMBA KUTESA,Kutesa - Sam Kahamba,None,"[Officer, PEP]",13.435255,109788
21,"WILBUR LOUIS ROSS, JR.","Ross, Jr. - Wilbur Louis",None,"[Officer, PEP]",11.878948,120063
22,PRINCE KHALED BIN SULTAN BIN ABDULAZIZ,Abdulaziz - Khaled Bin Sultan Bin,None,"[Officer, PEP]",16.609938,157693
23,CARLOS QUINTANILLA SCHMIDT,Quintanilla Schmidt - Carlos,None,"[Officer, PEP]",11.776794,87152
24,ALFRED GUSENBAUER,ALFRED GUSENBAUER,None,"[Officer, PEP]",9.582706,87495
25,YUKIO HATOYAMA,Yukio Hatoyama,None,"[Officer, PEP]",11.238563,87586
26,ANTON PRIGODSKY,ANTON PRYGODSKYY,None,"[Officer, PEP]",4.341790,87516
27,PENNY PRITZKER,Pritzker - Penny,None,"[Officer, PEP]",10.204343,150943
28,JOHN MAHAMA,Ibrahim Mahama,None,"[Officer, PEP]",5.847677,87584
29,BINALI YILDIRIM,ERKAM YILDIRIM,None,"[Officer, PEP]",5.390877,87513
30,BASHAR AL-ASSAD,Assad - Tarek,None,"[Officer, PEP]",5.847673,89251
31,BLAIRO BORGES MAGGI,Blairo Borges Maggi,None,"[Officer, PEP]",14.026569,87588
32,JAYANT SINHA,Jayant Sinha,None,"[Officer, PEP]",10.552275,87590
33,JUAN MANUEL SANTOS,SANTOS JUAN MANUEL,None,"[Officer, PEP]",10.187208,87544

## Who is who

In [7]:
companies = gds.run_cypher(''' 
    match path=(p:Officer)-[:OFFICER_OF|REGISTERED_ADDRESS]->(o)
    where (o:Address or o:Entity) 
    and ( p.name contains "Ltd." OR
          p.name contains "Limited" OR
          p.name contains "Trust" OR
          p.name contains "Investments" OR
          p.name contains "Investments" OR
          p.name contains "L.L.C." OR
          p.name contains "LIMITED" OR
          p.name contains "Investors" OR
          p.name contains "CORPORATE" OR
          p.name contains "LTD." OR
          p.name contains "MANAGERS" OR 
          p.name contains "REGISTER" 
        )
    return distinct p.name limit 50
''')
companies.head(50)

                                               p.name
0   1022385 Alberta Ltd. as Trustee of the Drinkwa...
1   1022387 Alberta Ltd. as Trustee of the Whitewo...
2                                1035533 Ontario Ltd.
3                                1105328 Alberta Ltd.
4   1245180 Alberta Ltd., as trustee of the Sapunj...
5                                2035910 Ontario Ltd.
6                                 385069 Alberta Ltd.
7                          3VS1 Asia Growth Fund Ltd.
8                                 4 M Associates Ltd.
9                                 561309 Alberta Ltd.
10                                838233 Alberta Ltd.
11                   A. F. Smith Trading Company Ltd.
12                                 A.S. Nominees Ltd.
13                        AAA (Angola) Investors Ltd.
14                               ABD Investments Ltd.
15                    ACC Conquistador Holdings, Ltd.
16                         ACE Bermuda Insurance Ltd.
17               ACE INA International Holdings, Ltd.
18                            ACM Holdings GP II Ltd.
19                               ACM Holdings GP Ltd.
20  ACM Holdings II L.P. by its general partner, A...
21  ACM Holdings L.P. by its general Partner, ACM ...
22                   ADAR Investments (Offshore) Ltd.
23                                    ADV Leases Ltd.
24                   AEI America do Sul Holdings Ltd.
25          AEI America do Sul Services Holdings Ltd.
26  AEI Americas Bermuda Ltd. (formerly AEI Chilqu...
27                           AEI Andean Holdings Ltd.
28                                      AEI Asia Ltd.
29                        AEI Brazil PD Holdings Ltd.
30                     AEI Brazil Power Holdings Ltd.
31                           AEI Central America Ltd.
32                         AEI Chile Investments Ltd.
33                         AEI Chilean Equity II Ltd.
34                            AEI Chilean Equity Ltd.
35               AEI Dominican Republic Holdings Ltd.
36             AEI Dominican Republic Operations Ltd.
37                      AEI EL Salvador Holdings Ltd.
38                            AEI Global Funding Ltd.
39  AEI Global Funding Ltd.(formerly PSEG Global F...
40                     AEI Guatemala Investments Ltd.
41                        AEI Jaguar Investments Ltd.
42                        AEI Nicaragua Holdings Ltd.
43                AEI Peruvian Power Investments Ltd.
44                                     AEI Power Ltd.
45           AEI Power Nicaragua Holding Company Ltd.
46                           AEI Power Nicaragua Ltd.
47                    AEI Southern Cone Holdings Ltd.
48                        AES CC&T International Ltd.
49                                           AGR Ltd.

In [8]:
# Label Officers as Companies
gds.run_cypher(''' 
    match path=(p:Officer)-[:OFFICER_OF|REGISTERED_ADDRESS]->(o)
    where (o:Address or o:Entity) 
    and ( p.name contains "Ltd." OR
          p.name contains "Limited" OR
          p.name contains "Trust" OR
          p.name contains "Investments" OR
          p.name contains "Investments" OR
          p.name contains "L.L.C." OR
          p.name contains "LIMITED" OR
          p.name contains "Investors" OR
          p.name contains "CORPORATE" OR
          p.name contains "LTD." OR
          p.name contains "MANAGERS" OR 
          p.name contains "REGISTER" 
        )
    with distinct p
    set p:Company remove p:Person
''')

Empty DataFrame
Columns: []
Index: []

In [9]:
# Label Officers that ar not labeled Company with Person
gds.run_cypher(''' 
    match (p:Officer)
    where not p:Company 
    set p:Person
''')

Empty DataFrame
Columns: []
Index: []

In [10]:
# Check what we have
gds.run_cypher(''' 
    match (p:Officer)
    return labels(p), count(*)
''').head(10)

                labels(p)  count(*)
0       [Officer, Person]     66006
1      [Officer, Company]     10972
2  [Officer, PEP, Person]        34

## Playground

In [11]:
# Check what outgoing rels we have for Persons
# Why? Node similarity expects a directed graph
gds.run_cypher(''' 
    match p=(:Person)-[r]->()
    return type(r), count(*)
''').head(10)

# Note: Explore the "CONNECTED_TO" relationships!

              type(r)  count(*)
0  REGISTERED_ADDRESS     75894
1          OFFICER_OF    190149
2        CONNECTED_TO       693
3          SAME_ID_AS         2
4        SAME_NAME_AS        64

In [12]:
# Cleanup
gds.run_cypher(''' 
    match (:Person)-[a:AFFILIATED]->()
    call {
        with a
        delete a
    } in transactions of 5000 rows
''')
gds.run_cypher(''' 
    match (:Person)-[a:STAKEHOLDER]->()
    call {
        with a
        delete a
    } in transactions of 5000 rows
''')
gds.run_cypher(''' 
    match (:Person)-[a:LIVES_AT]->()
    call {
        with a
        delete a
    } in transactions of 5000 rows
    
''')

Empty DataFrame
Columns: []
Index: []

In [16]:
# Prep: To focus on persons, let's say they are STAKEHOLDER's and LIVES_AT
# (i.e. avoid similarity to be computed between Companies)
gds.run_cypher(''' 
    match (p:Person)-[:OFFICER_OF]->(c)
    call {
        with p,c
        merge (p)-[:STAKEHOLDER]->(c)
    } in transactions of 5000 rows
''')
gds.run_cypher(''' 
    match (p:Person)-[:REGISTERED_ADDRESS]->(c)
    call {
        with p,c
        merge (p)-[:LIVES_AT]->(c)
    } in transactions of 5000 rows
''')

Empty DataFrame
Columns: []
Index: []

In [17]:
G, project_stats = gds.graph.project(
    'test', 
    node_spec=['Person','Company','Entity','Intermediary'], 
    relationship_spec=['STAKEHOLDER','LIVES_AT']
)

Loading:   0%|          | 0/100 [00:00<?, ?%/s]

In [18]:
project_stats

nodeProjection            {'Entity': {'label': 'Entity', 'properties': {...
relationshipProjection    {'STAKEHOLDER': {'orientation': 'NATURAL', 'ag...
graphName                                                              test
nodeCount                                                            104000
relationshipCount                                                    138894
projectMillis                                                         12571
Name: 0, dtype: object

In [19]:
# This is how we would estimate how much resources it takes to run
# an algorithm in a specific mode (stats, write, mutate).
# We don't have to do it, it is done behind the scenes when using the gds client
estimate = gds.nodeSimilarity.stats.estimate(G)
sysinfo = gds.debug.sysInfo()
assert sysinfo[ sysinfo["key"] == "heapTotalInBytes" ]["value"].values[0] > estimate.bytesMin

In [20]:
ns_stats = gds.nodeSimilarity.stats(G,
    similarityCutoff = 0.6,
    degreeCutoff = 2,
    topK = 3
)

In [21]:
ns_stats.similarityDistribution

{'p1': 0.5999984741210938,
 'max': 1.0000038146972656,
 'p5': 0.6666641235351562,
 'p90': 1.0000038146972656,
 'p50': 1.0000038146972656,
 'p95': 1.0000038146972656,
 'p10': 0.6666641235351562,
 'p75': 1.0000038146972656,
 'p99': 1.0000038146972656,
 'p25': 0.7777748107910156,
 'p100': 1.0000038146972656,
 'min': 0.5999984741210938,
 'mean': 0.9086447123901552,
 'stdDev': 0.14122972770088346}

In [22]:
gds.nodeSimilarity.write(G,
    similarityCutoff = 0.6,
    degreeCutoff = 2,
    topK = 3,
    writeRelationshipType = 'AFFILIATED',
    writeProperty = 'score'
)

NodeSimilarity:   0%|          | 0/100 [00:00<?, ?%/s]

preProcessingMillis                                                       0
computeMillis                                                         50522
writeMillis                                                            5970
postProcessingMillis                                                     -1
nodesCompared                                                         15326
relationshipsWritten                                                  25699
similarityDistribution    {'p1': 0.5999984741210938, 'max': 1.0000038146...
configuration             {'topK': 3, 'writeConcurrency': 4, 'similarity...
Name: 0, dtype: object

In [23]:
# Clean up
G = gds.graph.get('test') # Get our graph projection in case we accidently lost G
G.drop() # Drop it from the graph catalogue to release memory allocation

graphName                                                         test
database                                                         neo4j
memoryUsage
sizeInBytes                                                         -1
nodeCount                                                       104000
relationshipCount                                               138894
configuration        {'relationshipProjection': {'STAKEHOLDER': {'o...
density                                                       0.000013
creationTime                       2022-11-10T08:20:29.501283000+00:00
modificationTime                   2022-11-10T08:20:35.370876000+00:00
schema               {'graphProperties': {}, 'relationships': {'STA...
Name: 0, dtype: object

In [27]:
gds.run_cypher(''' 
    MATCH (p:Person)-[a:AFFILIATED]->(o)
    return p.name as pep, o.name as affilated_with, a.score as score limit 10
''').head(10)

                    pep                              affilated_with     score
0   Pliska - Bernard F.                           NIKE Elevate C.V.  0.666667
1  Ponthaud - Benito de                            Murray - Cynthia  1.000000
2  Ponthaud - Benito de                           Looz - Thierry de  1.000000
3  Ponthaud - Benito de                       Vassallo - Francis J.  1.000000
4           POON - Jing                       KWAN - Phileas Po Lam  0.750000
5           POON - Jing                             LIM - Yin Cheng  0.750000
6           POON - Jing                               LUN - Pui Kan  0.750000
7        Popiel - Brian  PricewaterhouseCoopers LLP - San Francisco  0.625000
8        Popiel - Brian                              Rothman - Matt  0.714286
9     Porrini - Paul T.                          Ezrati - Lester D.  0.611111

In [28]:
# Delete any symmetric relationships
gds.run_cypher(''' 
    match (p:Person)-[a:AFFILIATED]->(o)
    where exists { (p)<-[:AFFILIATED]-(o) }
    delete a
    return count(*) as numberOfRelsDeleted
''').head(1)

   numberOfRelsDeleted
0                    0

## Excerciese

Explore the `(:Person)-[:AFFILIATED]-(:Person)` network
- Communities?
- Central, important or influencial Persons?

## Excerciese

Merge nodes if they have th e same id
```
MATCH p=()-[r:SAME_ID_AS]->() RETURN p LIMIT 25
```
Use apoc to merge nodes and keep relationships